body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    float:left;
}
h2
{
    color: blue;
    font-family: verdana;
    font-size: 300%;
    float:right
}
p {
    color: red;
    border: 3px solid #000000;
    padding: 30px;
    margin: 50px;
    border-radius: 25px;
    color: red;
    font-family: courier;
    font-size: 160%;
}